@import "./base/config.scss";
@import "./base/reusable-elements.scss";

@import "./base/container.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/realtors.scss";
@import "./components/features.scss";
@import "./components/story.scss";
@import "./components/homes.scss";
@import "./components/gallery.scss";
@import "./components/footer.scss";
