.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;

    transition: all 0.2s;

    &:hover {
        // transform: scale(1.1);
        // filter: contrast(1.1);

        // z-index: 2;

        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
    }

    &__img {
        grid-column: 1 / -1;
        grid-row: 1/2;
        z-index: 1;
        width: 100%;
        display: inline;

        margin-bottom: 2.5rem;
        position: relative;
        &::before {
            content: "";
            background-image: linear-gradient(to left bottom, rgba(#fff, 0.15), rgba(#fff, 0));
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 500;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__like {
        grid-column: 2 / 3;
        grid-row: 1/2;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;

        fill: $color-primary;

        transition: all 0.2s;
        &:hover {
            transform: scale(1.4);
            fill: $color-primary-dark;
        }
    }

    &__name {
        grid-column: 1 / -1;
        grid-row: 1/2;
        z-index: 2;
        align-self: end;
        padding: 1.25rem;
        width: 80%;
        justify-self: center;

        white-space: nowrap;

        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        background-color: $color-secondary;
        font-weight: 400;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        margin-left: 1rem;
        margin-left: 2rem;
        padding: 0 1rem 0 2rem;

        word-break: break-word;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }

        p {
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}
