.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;

    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 1.5rem;

    &__menu-switcher {
        border: none;
        border-radius: 0;
        cursor: pointer;
        background-color: inherit;
        padding: 1rem 0;
        span {
            display: block;
            background-color: #fff;
            height: 3px;
            width: 4.5rem;
            margin-bottom: 1rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__menu {
        z-index: 1001;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 15rem 5rem 0 5rem;
        display: flex;
        justify-content: center;
        align-items: start;

        visibility: hidden;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
        &-active {
            visibility: visible;
        }

        &-list {
            background-color: #fff;
            padding: 6rem;
            text-align: center;
            z-index: 1;
            border-radius: 0.8rem;
            font-size: 2rem;
            list-style-type: none;
        }

        &-item {
            a {
                color: $color-primary;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}
@media (max-width: $bp-large) {
    .sidebar {
        grid-column: 1/ -1;
        grid-row: 1/2;
        padding-top: 0;
        padding-right: 2rem;
        align-items: center;
        justify-content: end;
        &__nav-btn {
            span {
                margin-bottom: 0.8rem;
            }
        }
    }
}

@media (max-width: $bp-small) {
}
